### Target Vendor/Product (support only Ralink RT3883/MT7620)
CONFIG_VENDOR=SERCOMM
CONFIG_PRODUCT=MT7620

### Target ProductID (board select, max 23 ASCII symbols)
CONFIG_FIRMWARE_PRODUCT_ID="RT-S1010"

############################################################
### Linux kernel configuration
############################################################

### Force MT7620 CPU clock to 600MHz (override Uboot settings)
CONFIG_FIRMWARE_CPU_600MHZ=y

### Kernel driver select for WiFi AP 5GHz
### 3.0 = MT7612E v3.0.4.0
CONFIG_FIRMWARE_WIFI5_DRIVER=3.0

### Kernel driver select for WiFi AP 2.4GHz
CONFIG_FIRMWARE_WIFI2_DRIVER=2.7

CONFIG_FIRMWARE_ENABLE_IPV6=y

CONFIG_FIRMWARE_INCLUDE_SHORTCUT_FE=y
CONFIG_FIRMWARE_INCLUDE_IPSET=y

CONFIG_FIRMWARE_INCLUDE_LANG_RU=y
CONFIG_FIRMWARE_ENABLE_DNSMASQ_REGEX=y

CONFIG_FIRMWARE_INCLUDE_DROPBEAR=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=y

CONFIG_FIRMWARE_INCLUDE_ZAPRET2=y
CONFIG_FIRMWARE_INCLUDE_LIBNETFILTER_QUEUE=y
CONFIG_FIRMWARE_INCLUDE_LIBCAP=y
CONFIG_FIRMWARE_INCLUDE_LUA=y
